{% extends 'dummy.html' %} {% block title %} {% if form.instance.pk %}
<title>Student Update</title>
{% else %}
<title>Student Insert</title>
{% endif %} {% endblock %} {% block content %}
<div class="container">
    <div class="col-6">
        {% if form.instance.pk %}
        <h1>Student Form Update</h1>
        {% else %}
        <h1>Student Form Insert</h1>
        {% endif %}
        <hr>
        <form method="POST">
            {% csrf_token %}
            <label>Student Name</label>{{form.sname}}
            <span class="text-danger">{{err.sname}}</span>
            <label>Email</label>{{form.email}}
            <label>Mobile</label>{{form.mobile}}
            <span class="text-danger">{{err.mobile}}</span>
            <label>Age</label>{{form.age}}
            <span class="text-danger">{{err.age}}</span>
            <label>Gender</label>{{form.gender}}
            <label>City</label>{{form.city}}
            <label>Course</label>{{form.course}} {% if form.instance.pk %}
            <input type="submit" value="Update" class="btn btn-warning my-3"> {% else %}
            <input type="submit" value="Insert" class="btn btn-success my-3"> {% endif %}
        </form>
    </div>
</div>

{% endblock %}